<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../lib/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <main style="text-align: center;">
            <div class="row g-4" style="padding-left: 100px; padding-right: 100px;padding: top 100px;padding-bottom:10%;background-color:aquamarine">
                <div style="padding-top: 200px;padding-bottom: 400px; background-color:aliceblue">
                    <div class="col-md-12"> 
                        <h4 class="mb-4">CADASTRAR NOVO ATENDENTE</h4>  
                        <form class="needs-validation" method="POST" action="">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="nome_atendente" class="form-label">Nome do Atendente</label>
                                    <input type="text" class="form-control" id="nome_atendente">
                                </div>
                                <div class="col-sm-5">
                                    <label for="celular_atendente" class="form-label">Contato(celular)</label>
                                    <input type="text" class="form-control" id="celular_atendente">
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" id="confirm-cad_atendente" class="btn btn-primary btn-lg">Cadastrar atendente</button>
                            </div>
                            <div class="col-sm-4">
                                <a href="../index.html" class="btn btn-secondary btn-lg" role="button" tableindex="-1">Voltar ao Menu</a>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </main>
        <script src="../lib/js/bootstrap.bundle.js"></script>
    </body>
</html>