<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu principal</title>
    </header>
    <body>
        <div class="tituloPagInicial">
            <h1>Bem vindo(a)!</h1>
        </div>
        <h2>Selecione abaixo o que deseja fazer:</h2>
        <div class="OpcoesBox">
            <ul class="listaOpcoes">
                <li><a href="cadastrarPaciente.html">Cadastrar novo paciente</a></li>
                <li><a href="visualizarPacientes.html">Visualizar todos os pacientes cadastrados</a></li>
                <li><a href="">Marcar nova consulta</a></li>
                <li><a href="">Visualizar consultas marcadas</a></li>
            </ul>
        </div>
    </body>
</html>